.contact {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.delete-btn {
    height: min-content;
}

.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }